    
@{
    ViewBag.Title = "Inicio";
}

<div class="text-center">
    <img class ="banner" src="~/img\banner.png" />

    <h1>Bienvenidos a PreguntadOrt</h1>
    <img class ="logo" src="~/img\LogoPreguntados.webp" alt="Logo del juego"/>
    <br />
    <a class="btn btn-primary" href='@Url.Action("ConfigurarJuego" , "Home")'>Configurar Juego</a>
</div>
