    
@{
    ViewBag.Title = "Inicio";
}

<div class="text-center">
    <h1>Bienvenidos a PreguntadOrt</h1>
    <img src="~/img/LogoPreguntados.jpg" alt="Logo del juego"/>
    <br />
    <a class="btn btn-primary" href='@Url.Action("ConfigurarJuego" , "Home")'>Configurar Juego</a>
</div>
